<div class="row d-flex justify-content-center">
  <div class="col-md-6 p-5">
    <div class="card ">
      <div class="card-header bg-warning d-flex justify-content-center">
        Builder
      </div>
      <div class="card-body">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <form [formGroup]="controlform" (ngSubmit)="onSubmitControl()">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <select  class="form-control" name="valueType" formControlName="valueType" [(ngModel)]="builderObj.controlName">
                      <option value="0">Select Controls</option>
                      <option value="text">Text Box</option>
                      <option value="number">Number</option>
                      <option value="radio">Radio Button</option>
                      <option value="checkbox">Checkbox</option>
                      <option value="dropdown">Dropdown</option>
                      <option value="datepicker">Date Pciker</option>


                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" name="typename" class="form-control" formControlName="typename" placeholder="Control Type" [(ngModel)]="builderObj.controlType">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" name="labelname" class="form-control" formControlName="labelname" placeholder="Label Name" [(ngModel)]="builderObj.controlLabel">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add Control</button>
                  </div>
                </div>
              </div>
            </form>

            <div class="card my-3">
              <div class="card-header bg-info">
                Form Filler
              </div>
              <div class="card-body ">
                <form [formGroup]="sampleform" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-md-8" *ngFor="let formData of lstForm" [ngSwitch]="true">
                      <div class="form-group">
                        <label for="{{formData.f_Name}}">{{formData.label}}</label>
                        <input type="{{formData.f_Type}}" name="{{formData.f_Name}}" class="form-control" *ngSwitchDefault [formControlName]="formData.f_Name" [(ngModel)]="formData.f_Value" placeholder="{{formData.placeholder}}">
                        <select [id]="formData.f_Name" [formControlName]="formData.f_Name" *ngSwitchCase="formData.f_Type === 'select'"  [(ngModel)]="formData.f_Value">
                          <option [value]='0'>Select State</option>
                          <option *ngFor="let opt of formData.values" [value]="opt.internalValue">{{opt.displayValue}}</option>
                        </select>
                        <div class="custom-control custom-switch" *ngSwitchCase="formData.f_Type === 'radio'">
                          <input id="customSwitch1" type="radio" [checked]="formData.f_Value == 'Y'? true:false" >
                          <label class="custom-control-label" for="customSwitch1">Yes</label>
                        </div>
                        <div class="custom-control custom-switch" *ngSwitchCase="formData.f_Type === 'checkbox'">
                          <input id="customSwitch1" type="checkbox" [checked]="formData.f_Value == 'Y'? true:false" >
                          <label class="custom-control-label" for="customSwitch1">Yes</label>
                        </div>
                        <div *ngSwitchCase="formData.f_Type === 'select'">
                          <div  class="error-txt-msg mb-2" *ngIf="sampleform.controls[formData.f_Name].value == '0'" style="color:
          red;">Required field.</div>
                        </div>
                        <div class="error-txt-msg mb-2" *ngIf="sampleform.controls[formData.f_Name].hasError('required')" style="color:
          red;">Required field.</div>
                        <div class="error-txt-msg mb-2" *ngIf="sampleform.controls[formData.f_Name].hasError('pattern')" style="color:
          red;">Incorrect format.</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary my-4">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-6 p-5 max">
    <div class="card ">
      <div class="card-header bg-warning d-flex justify-content-center">
        Builder Data Model
      </div>
      <div class="card-body">
        <div class="row d-flex justify-content-center">
          <div class="col-md-8">
            {{builderArray | json}}
          </div>
        </div>
        <div class="card my-3">
          <div class="card-header bg-info d-flex justify-content-center">
            Form Filler Data Model
          </div>
          <div class="card-body pt-3">
            <div class="row d-flex justify-content-center">
              <div class="col-md-8">
                {{formFillerArr | json}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


